#Dependency directories
node_modules/

#Docker container running MongoDB
mongo-volume/

#optional npm cache directory
.npm

#Output of 'npm pack'
*.tgz

#Yarn integrity file
.yarn-integrity

package-lock.json